html {
	overflow-y: scroll;
}
body::before {
	content:"";
	background: url("../images/pogfish.gif");
	background-position: center;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: -1;
}

body {
	background-color: black;
	overflow: hidden;
}

.text {
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
  text-align: center;
  color: white;
  position: static;
  margin-left: 200px;
  margin-right: 200px;
}

.topbar {
  background-color: indigo;
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
  font-size: 24px;
  overflow: hidden;
}

.topbar .active {
  background-color: blue;
}

a {
  color: white;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor:pointer;
}

footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "Comic Sans MS", "Times New Roman", sans-serif;
	text-align: center;
}

.clickme {
	font-size: 24px;
	font-family: "Comic Sans MS", "Times New Roman", sans-serif;
	background-color: indigo;
	color: white;
	border: 1px solid white;
}

.clickme:focus {
	outline: none;
}