body::before {
	content:"";
	background: url("../images/pogfish.gif");
	background-position: center;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	position: fixed;
	z-index: -1;
}

body {
	background-color: black;
	overflow: hidden;
}

.title {
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
  text-align: center;
	color: white;
}

.topbar {
  background-color: indigo;
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
  font-size: 24px;
  overflow: hidden;
}

.topbar .active {
  background-color: blue;
}

a {
  color: white;
  text-decoration: none;
}

footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "Comic Sans MS", "Times New Roman", sans-serif;
	text-align: center;
}