.title {
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
  text-align: center;
}

.topbar {
  background-color: #000000;
  font-color: #ffffff;
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
  font-size: 24px;
}
