.title {
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
  text-align: center;
}

.topbar {
  background-color: #ff00ff;
  color: #000000;
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
  font-size: 24px;
  overflow: hidden;
}
